body {
    font-family: 'PT Sans';
    background-color: #FFFFFF;
}

.logo {
    padding-left: 20px;
    border-bottom: #D9D9D9;
    color: #000000;
}

.bi-globe {
    color: #FDB704;
}

.globe select {
    
}

#flexSwitchCheckDefault {
    border: #FDB704 !important;
    background-color: #EBEBEB !important;
}

.connect-bitcoin {
    display: flex;
    flex-direction: row;
}

.connect {
    width: 50%;
    padding-top: 40px;
    margin-left: 100px;
    text-align: left;
}

.connect h1 {
    font: bold;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 10px;
    color: #4D4D4D;
}

.connect button {
    height: 42px;
    width: 200px;
    left: 119px;
    top: 457px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #FDB704;
    border: #FDB704;
    font-size: 18px;
}

.bitcoin {
    width: 50%;
    padding-top: 90px;
    padding-right: 60px;
}

.top-vector {
    position: absolute;
    /* left: 12px; */
    top: 5px;
}

/* section1 */

.section1 {
    background: linear-gradient(180deg, #FDB704 0%, rgba(224, 224, 224, 0) 100%);
    padding-top: 10px;
    padding-left: 60px;
}

.future {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    padding-top: 15px;
    padding-left: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFB501;
}

.bitcoin2 {
    width: 50%;
    padding-top: 20px;
}

.show-future {
    width: 50%;
    padding-top: 40px;
    padding-right: 40px;
}

.show-future h5 {
    border-radius: nullpx;
    font-family: 'PT Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #263238;
}

.show-future p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px
}

.show-future a {
    text-decoration: none;
    color: #FFB501;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px
}

/* section2 */

.section2 {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    text-align: left;
}

.section2 h1 {
    margin-bottom: 25px;
    font-family: 'PT Sans';
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 30px;
}

.section2 h5 {
    font-family: 'PT Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 30px;
}

.section2 img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-left: 0px;
}

.section2 a {
    text-decoration: none;
}
 
.section2 li {
    list-style: none;
    margin-bottom: 30px;
    text-align: left;
}

.change-color {
    color: #0B9C4E;
}


/* sectio3 */

.section3 {
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.section3 h1 {
    font-family: 'PT Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

}

.section3 h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FDB704;
    font-family: 'PT Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}

.section3 p {
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}


/*  section4 */

.section4 {
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 50px;
}

.section4 h1 {
    text-align: center;
    font-family: 'PT Sans';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    margin-bottom: 30px;
}
.section4 img {
    width: 200px;
    height: 260px;
}

.section4 p {
    font-family: 'PT Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4D;
}

.choose-border {
    border: 1px solid #FDB704;
    width: 250px;
}